.zero{
    text-align: center;
    color: red;
    background-color: #32ff7e;
    height: 60px;
    margin-bottom: 5px;
}






.one{
    min-height: 70px;
    background-color: #e74c3c;
    margin-bottom: 10px;
    margin-top: 5px;
}

.two{
    min-height: 70px;
    background-color: #2ecc71;
    margin-bottom: 10px;
}

.three{
    min-height: 70px;
    background-color: #f1c40f;
    margin-bottom: 10px;
}

.four{
    min-height: 70px;
    background-color: #192a56;
    margin-bottom: 10px;
}

.five{
    min-height: 70px;
    background-color: #C4E538;
    margin-bottom: 10px;
}



.six{
    min-height: 70px;
    background-color: #7d5fff;
    margin-bottom: 10px;
}


.seven{
    min-height: 70px;
    background-color: #18dcff;
    margin-bottom: 10px;
}



.eight{
    min-height: 70px;
    background-color: #32ff7e;
    margin-bottom: 10px;
}



.nine{
    min-height: 70px;
    background-color: #7d5fff;
    margin-bottom: 10px;
}




.ten{
    min-height: 70px;
    background-color: #fc5c65;
    margin-bottom: 5px;
}
















